.recipe-container{
   width: 100%;
   margin: 3rem auto;
}

.row_recipes{
    color:white;
    display:flex;
    justify-content: space-around;
    margin: 3rem auto ;
    width:100%;
}

.recipe-card {
    color: #fff;
    border: 0.2rem solid  #FFD24E;
    padding:0.5rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
 
}

.recipe-card:hover {
    transform: scale(1.08);
    opacity: 1;
    border: 0.2rem solid #065B97;
    color:white;
  }

.recipe-button{
    margin: 0.5rem;
    box-shadow: none;
    color: #2a8fd8;
    font-size: 1.2rem;
    background-color:#FFD24E;
}

.recipe-button:hover{
    background-color:  #065B97;
    color:white;
    border: 0.2rem solid white;
}

/* .recipe-card{
    border:10px solid white;
    margin-bottom: 30px;
    webkit-appearance: none;
        align-items: flex-start;
        background-attachment: scroll;
        background-clip: border-box;
        background-color: #FFA500;
        background-origin: padding-box;
        background-size: auto;
        border-bottom-color: black;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-image-outset: 0px;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-left-color: black;
        border-left-style: solid;
        border-left-width: 1px;
        border-right-color: black;
        border-right-style: solid;
        border-right-width: 1px;
        border-top-color: black;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-top-style: solid;
        border-top-width: 1px;
        box-shadow: #80B2FF 0px 1px 1px 0px inset;
} */

